
<table class="table is-striped is-hoverable is-size-5">
  <thead>
<tr>
  <th>Date/Time</th>
  <th>Code</th>
  <th>Temperature</th>
  <th>Wind Speed</th>
  <th>Wind Direction</th>
  <th>Pressure</th>
  <th></th>
  <th></th>
</tr>
  </thead>
  <tbody>
    {{#each station.readings}}
    <tr>
      <td>
        {{time}}
      </td>
      <td>
        {{code}}
      </td>
      <td>
        {{temp}}° C
        <br>
        {{fahrenheit}}° F
      </td>
      <td>
        {{windSpeed}}km/hr
      </td>
      <td>
        {{windDirection}}°
      </td>
      <td>
        {{pressure}}hPa
      </td>
      <td>
        <a href="/station/{{../station._id}}/deletereading/{{_id}}" class="button is-danger">
          <i class="fa-solid fa-circle-xmark"></i>
        </a>
      </td>
      <td>
        <a href="/station/{{../station._id}}/editreading/{{_id}}" class="button is-info">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
  {{> add-reading}}
      <section class="section">
    <form action="/station/{{station._id}}/addreport" method="POST">
      <div class="field is-grouped">
        <button class="button is-link">Auto-generate Reading</button>
      </div>
    </form>
  </section>
