{{> menu active="dashboard"}}
{{> list-stations}}
<div class="content box">
    <div id="map">
</div>
<script>
  const map = L.map('map').setView([53.3498, -6.2603], 5);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '© OpenStreetMap'
      }).addTo(map); 

  let marker, circle, zoomed; 
  {{#each stations}}
  marker = L.marker([{{latitude}}, {{longitude}}], {title: "{{location}}"});
  marker.bindPopup("<h1><strong>{{location}}</strong></h1>" 
              + "Coordinates(" + {{latitude}} + "," 
              + {{longitude}} + ")"
              + "<br>"
              + "<a href='/station/{{_id}}'>View Readings</a>"
              );
  marker.addTo(map)
  {{/each}}
</script>
  <button class="button is-size-5 is-light my-5">Add New Station<i class="fa-solid fa-satellite-dish pl-2"></i></button>
  {{> add-station}}